<a href="https://colab.research.google.com/github/RojaCM/Complete-Python-3-Bootcamp/blob/master/DEX%20intent%20classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('sample_dex_data.csv')

In [5]:
df.head()

,Unnamed: 0,title,summary,category
0,0,Reminder - Optimus - Best People Manager 2022,Today is the last day for voting (14th October...,TWEETS
1,1,"It starts this 23 October, till 26 October 202...",Hope you are all set to attend Money 2020 USA ...,TWEETS
2,2,Congratulations Triveni Arun Bhalerao | Long S...,NaN,WHO_SAID_WHAT
3,3,Long Service Awards - 5 years - Triveni Arun ...,NaN,STORY_OF_THE_DAY
4,4,tweets testing,today testing preview screen and toast success...,TWEETS

In [6]:
data=df[['title','category']]

In [7]:
data

                                                 title             category
0       Reminder - Optimus -  Best People Manager 2022               TWEETS
1    It starts this 23 October, till 26 October 202...               TWEETS
2    Congratulations Triveni Arun Bhalerao | Long S...        WHO_SAID_WHAT
3     Long Service Awards - 5 years - Triveni Arun ...     STORY_OF_THE_DAY
4                                       tweets testing               TWEETS
..                                                 ...                  ...
995     Employee Referral Virtual Drive - 14 May, 2022  COMPANY_INFORMATION
996   The Future Trends In Mobility And Transportation      INDUSTRY_UPDATE
997       The Keys to Pricing Power as Recession Looms      INDUSTRY_UPDATE
998  Intelligence and unified data governance in th...         TECHNO_PICKS
999  Creating a defined data centric space with AI ...         TECHNO_PICKS

[1000 rows x 2 columns]

In [8]:
df['category'].value_counts()

TWEETS                      246
COMPANY_INFORMATION         171
STORY_OF_THE_DAY            105
TECHNO_PICKS                 92
INDUSTRY_UPDATE              87
WHO_SAID_WHAT                65
FEATURED_VIDEOS              53
SUCCESS_STORY                33
PEOPLE_OF_ALTIMETRIK         27
ALTIMETRIK_NEWS              26
EMPLOYEE_EXPERIENCES         22
ABOUT_ALTIMETRIK             19
CAPABILITY_CENTERS           13
GLOBAL_RECOGNITIONS          12
INNOVATION_AT_ALTIMETRIK     11
TRENDING_STORY                7
EBOOK                         6
STATIC_CONTENT                4
DIGITAL_BUSINESS              1
Name: category, dtype: int64

In [9]:
df['category'].nunique()

19

In [10]:
data_copy=data.copy()

In [11]:
dict_1={'TWEETS':1,'COMPANY_INFORMATION':2,'STORY_OF_THE_DAY':3,'TECHNO_PICKS':4,'INDUSTRY_UPDATE':5,'WHO_SAID_WHAT':6,'FEATURED_VIDEOS':7,'SUCCESS_STORY':8,'PEOPLE_OF_ALTIMETRIK':9,
        'ALTIMETRIK_NEWS':10,'EMPLOYEE_EXPERIENCES':11,'ABOUT_ALTIMETRIK':12,'CAPABILITY_CENTERS':13,'GLOBAL_RECOGNITIONS':14,'INNOVATION_AT_ALTIMETRIK':15,'TRENDING_STORY':16,'EBOOK':17,
        'STATIC_CONTENT':18,'DIGITAL_BUSINESS':19}

In [12]:
data

                                                 title             category
0       Reminder - Optimus -  Best People Manager 2022               TWEETS
1    It starts this 23 October, till 26 October 202...               TWEETS
2    Congratulations Triveni Arun Bhalerao | Long S...        WHO_SAID_WHAT
3     Long Service Awards - 5 years - Triveni Arun ...     STORY_OF_THE_DAY
4                                       tweets testing               TWEETS
..                                                 ...                  ...
995     Employee Referral Virtual Drive - 14 May, 2022  COMPANY_INFORMATION
996   The Future Trends In Mobility And Transportation      INDUSTRY_UPDATE
997       The Keys to Pricing Power as Recession Looms      INDUSTRY_UPDATE
998  Intelligence and unified data governance in th...         TECHNO_PICKS
999  Creating a defined data centric space with AI ...         TECHNO_PICKS

[1000 rows x 2 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [70]:
x=data['title']

In [71]:
y=data['category']

In [79]:
X_train,X_test,Y_train,Y_test=train_test_split(traindata,y,train_size=0.7)

In [66]:
def custom_encoder(data):
  data.replace(to_replace='TWEETS',value=1,inplace=True)
  data.replace(to_replace='COMPANY_INFORMATION',value=2,inplace=True)
  data.replace(to_replace='STORY_OF_THE_DAY',value=3,inplace=True)
  data.replace(to_replace='TECHNO_PICKS',value=4,inplace=True)
  data.replace(to_replace='INDUSTRY_UPDATE',value=5,inplace=True)
  data.replace(to_replace='WHO_SAID_WHAT',value=6,inplace=True)
  data.replace(to_replace='FEATURED_VIDEOS',value=7,inplace=True)
  data.replace(to_replace='SUCCESS_STORY',value=8,inplace=True)
  data.replace(to_replace='PEOPLE_OF_ALTIMETRIK',value=9,inplace=True)
  data.replace(to_replace='ALTIMETRIK_NEWS',value=10,inplace=True)
  data.replace(to_replace='EMPLOYEE_EXPERIENCES',value=11,inplace=True)
  data.replace(to_replace='ABOUT_ALTIMETRIK',value=12,inplace=True)
  data.replace(to_replace='CAPABILITY_CENTERS',value=13,inplace=True)
  data.replace(to_replace='GLOBAL_RECOGNITIONS',value=14,inplace=True)
  data.replace(to_replace='INNOVATION_AT_ALTIMETRIK',value=15,inplace=True)
  data.replace(to_replace='TRENDING_STORY',value=16,inplace=True)
  data.replace(to_replace='EBOOK',value=17,inplace=True)
  data.replace(to_replace='STATIC_CONTENT',value=18,inplace=True)
  data.replace(to_replace='DIGITAL_BUSINESS',value=19,inplace=True)

In [69]:
data['category'].value_counts()

1     246
2     171
3     105
4      92
5      87
6      65
7      53
8      33
9      27
10     26
11     22
12     19
13     13
14     12
15     11
16      7
17      6
18      4
19      1
Name: category, dtype: int64

In [68]:
custom_encoder(data['category'])

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [80]:
print(X_train.shape,Y_train.shape)

(700, 4442) (700,)

In [81]:
X_train

<700x4442 sparse matrix of type '<class 'numpy.int64'>'
	with 6602 stored elements in Compressed Sparse Row format>

In [82]:
print(X_test.shape,Y_test.shape)

(300, 4442) (300,)

In [59]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [73]:
#lets create an object of lemmatizer
lm=WordNetLemmatizer()
import re

In [74]:
import nltk 
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [75]:
def text_transformation(df_col):
  corpus=[]
  for i in df_col:
    new_item=re.sub('[^a-zA-Z0-9]',' ',str(i))
    new_item=new_item.lower()
    new_item=new_item.split()
    new_item=[lm.lemmatize(j) for j in new_item if j not in set(stopwords.words('english'))]
    corpus.append(' '.join(str(x) for x in new_item))
  return corpus

In [76]:
corpus=text_transformation(data['title'])

In [77]:
# Extracting features from text files
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

cv=CountVectorizer(ngram_range=(1,2))
traindata=cv.fit_transform(corpus)

In [78]:
traindata.toarray().shape

(1000, 4442)

In [83]:
# Machine Learning
# Training Naive Bayes (NB) classifier on training data.
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train,Y_train)

In [84]:
y_predict=clf.predict(X_test)

In [85]:
from sklearn.metrics import mean_squared_error

In [87]:
mean_squared_error(Y_test,y_predict)

18.586666666666666

In [88]:
from sklearn.metrics import accuracy_score

In [89]:
accuracy_score(Y_test,y_predict)

0.44666666666666666

In [91]:
#we will check for custom input as well and let our model identify the sentiment of the input statement
#function to take the input statement 
def sentiment_predictor(input):
  input=text_transformation(input)
  transformed_input=cv.transform(input)
  prediction=clf.predict(transformed_input)
  print(prediction)

In [92]:
input1 = ["OPTIMUS - BEST PEOPLE MANAGER 2022"]

In [93]:
sentiment_predictor(input1)

[1]

In [94]:
input2 =['Predict our GPTW 2022 Ranking !!!']

In [95]:
sentiment_predictor(input2)

[3]

SVM

In [96]:
from sklearn.svm import SVC

In [97]:
# Define your model

svm_classifier = SVC(C=1.0,
                     kernel='rbf',
                     gamma='scale',
                     probability=True,
                     random_state=0
                     
)

In [98]:
svm_model=svm_classifier.fit(X_train,Y_train)

In [99]:
y_pred1=svm_model.predict(X_test)

In [100]:
from sklearn.metrics import accuracy_score

In [102]:
accuracy_score(Y_test,y_pred1)

0.32666666666666666