<a href="https://colab.research.google.com/github/RojaCM/Complete-Python-3-Bootcamp/blob/master/Intent%20classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('sample_dex_data.csv')

In [3]:
data.head()

,Unnamed: 0,title,summary,category
0,0,Reminder - Optimus - Best People Manager 2022,Today is the last day for voting (14th October...,TWEETS
1,1,"It starts this 23 October, till 26 October 202...",Hope you are all set to attend Money 2020 USA ...,TWEETS
2,2,Congratulations Triveni Arun Bhalerao | Long S...,NaN,WHO_SAID_WHAT
3,3,Long Service Awards - 5 years - Triveni Arun ...,NaN,STORY_OF_THE_DAY
4,4,tweets testing,today testing preview screen and toast success...,TWEETS

In [4]:
data['category'].value_counts()

TWEETS                      246
COMPANY_INFORMATION         171
STORY_OF_THE_DAY            105
TECHNO_PICKS                 92
INDUSTRY_UPDATE              87
WHO_SAID_WHAT                65
FEATURED_VIDEOS              53
SUCCESS_STORY                33
PEOPLE_OF_ALTIMETRIK         27
ALTIMETRIK_NEWS              26
EMPLOYEE_EXPERIENCES         22
ABOUT_ALTIMETRIK             19
CAPABILITY_CENTERS           13
GLOBAL_RECOGNITIONS          12
INNOVATION_AT_ALTIMETRIK     11
TRENDING_STORY                7
EBOOK                         6
STATIC_CONTENT                4
DIGITAL_BUSINESS              1
Name: category, dtype: int64

In [5]:
data['category'].nunique()

19

In [6]:
import pandas as pd
from io import StringIO
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [7]:
data['title'].isnull().sum()

7

In [8]:
import os
import math
import datetime

In [9]:
from tqdm import tqdm

In [10]:
import tensorflow as tf
from tensorflow import keras

In [11]:
!pip install bert

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bert in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: erlastic in /usr/local/lib/python3.7/dist-packages (from bert) (2.0.0)

In [12]:
!pip install bert-for-tf2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bert-for-tf2 in /usr/local/lib/python3.7/dist-packages (0.14.9)
Requirement already satisfied: params-flow>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from bert-for-tf2) (0.8.2)
Requirement already satisfied: py-params>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from bert-for-tf2) (0.10.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (4.64.1)

In [13]:
import bert
from bert import BertModelLayer
from bert.loader import StockBertConfig, map_stock_config_to_params, load_stock_weights
from bert.tokenization.bert_tokenization import FullTokenizer

In [14]:
from sklearn.metrics import confusion_matrix, classification_report

In [16]:
import numpy as np
random_seed = 42
np.random.seed(random_seed)
tf.random.set_seed(random_seed)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
data

,Unnamed: 0,title,summary,category
0,0,Reminder - Optimus - Best People Manager 2022,Today is the last day for voting (14th October...,TWEETS
1,1,"It starts this 23 October, till 26 October 202...",Hope you are all set to attend Money 2020 USA ...,TWEETS
2,2,Congratulations Triveni Arun Bhalerao | Long S...,NaN,WHO_SAID_WHAT
3,3,Long Service Awards - 5 years - Triveni Arun ...,NaN,STORY_OF_THE_DAY
4,4,tweets testing,today testing preview screen and toast success...,TWEETS
...,...,...,...,...
995,995,"Employee Referral Virtual Drive - 14 May, 2022",NaN,COMPANY_INFORMATION
996,996,The Future Trends In Mobility And Transportation,NaN,INDUSTRY_UPDATE
997,997,The Keys to Pricing Power as Recession Looms,NaN,INDUSTRY_UPDATE
998,998,Intelligence and unified data governance in th...,NaN,TECHNO_PICKS
999,999,Creating a defined data centric space with AI ...,NaN,TECHNO_PICKS

In [20]:
x=data['title']

In [21]:
x

0         Reminder - Optimus -  Best People Manager 2022
1      It starts this 23 October, till 26 October 202...
2      Congratulations Triveni Arun Bhalerao | Long S...
3       Long Service Awards - 5 years - Triveni Arun ...
4                                         tweets testing
                             ...
995       Employee Referral Virtual Drive - 14 May, 2022
996     The Future Trends In Mobility And Transportation
997         The Keys to Pricing Power as Recession Looms
998    Intelligence and unified data governance in th...
999    Creating a defined data centric space with AI ...
Name: title, Length: 1000, dtype: object

In [24]:
y=data['category']
y

0                   TWEETS
1                   TWEETS
2            WHO_SAID_WHAT
3         STORY_OF_THE_DAY
4                   TWEETS
              ...
995    COMPANY_INFORMATION
996        INDUSTRY_UPDATE
997        INDUSTRY_UPDATE
998           TECHNO_PICKS
999           TECHNO_PICKS
Name: category, Length: 1000, dtype: object

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [28]:
print(x_train.shape,y_train.shape)

(700,) (700,)

In [30]:
print(x_test.shape,y_test.shape)

(300,) (300,)

In [31]:
train=data[:700]

In [32]:
train.head()

,Unnamed: 0,title,summary,category
0,0,Reminder - Optimus - Best People Manager 2022,Today is the last day for voting (14th October...,TWEETS
1,1,"It starts this 23 October, till 26 October 202...",Hope you are all set to attend Money 2020 USA ...,TWEETS
2,2,Congratulations Triveni Arun Bhalerao | Long S...,NaN,WHO_SAID_WHAT
3,3,Long Service Awards - 5 years - Triveni Arun ...,NaN,STORY_OF_THE_DAY
4,4,tweets testing,today testing preview screen and toast success...,TWEETS

In [33]:
train['category'].value_counts()

TWEETS                      162
COMPANY_INFORMATION         123
STORY_OF_THE_DAY             81
TECHNO_PICKS                 52
INDUSTRY_UPDATE              52
WHO_SAID_WHAT                48
FEATURED_VIDEOS              45
SUCCESS_STORY                33
PEOPLE_OF_ALTIMETRIK         22
EMPLOYEE_EXPERIENCES         15
CAPABILITY_CENTERS           13
ABOUT_ALTIMETRIK             13
ALTIMETRIK_NEWS              11
GLOBAL_RECOGNITIONS          10
INNOVATION_AT_ALTIMETRIK      8
EBOOK                         6
TRENDING_STORY                3
STATIC_CONTENT                2
DIGITAL_BUSINESS              1
Name: category, dtype: int64

In [34]:
train['category'].nunique()

19

In [35]:
test=data[701:]

In [36]:
test.head()

,Unnamed: 0,title,summary,category
701,701,Media Coverage | Nayan Naidu | CSO Forum & Ent...,NaN,COMPANY_INFORMATION
702,702,The Voice of You - Lakshmeesh,NaN,EMPLOYEE_EXPERIENCES
703,703,The Voice of Employees - Jeremy usher,NaN,EMPLOYEE_EXPERIENCES
704,704,It's a Big Win at DivHERsity Awards 2022 - Alt...,NaN,ALTIMETRIK_NEWS
705,705,CIOs are starting to become strategic partners...,As innovation opens the door to deploying tech...,TWEETS

In [37]:
test['category'].nunique()

15

In [38]:
test['category'].value_counts()

TWEETS                      84
COMPANY_INFORMATION         48
TECHNO_PICKS                39
INDUSTRY_UPDATE             35
STORY_OF_THE_DAY            24
WHO_SAID_WHAT               17
ALTIMETRIK_NEWS             15
FEATURED_VIDEOS              8
EMPLOYEE_EXPERIENCES         7
ABOUT_ALTIMETRIK             6
PEOPLE_OF_ALTIMETRIK         5
TRENDING_STORY               4
INNOVATION_AT_ALTIMETRIK     3
GLOBAL_RECOGNITIONS          2
STATIC_CONTENT               2
Name: category, dtype: int64

In [50]:
os.makedirs("model", exist_ok=True)
bert_model_name="uncased_L-12_H-768_A-12"
bert_ckpt_dir = os.path.join("model/", bert_model_name)
bert_ckpt_file = os.path.join(bert_ckpt_dir, "bert_model.ckpt")
bert_config_file = os.path.join(bert_ckpt_dir, "bert_config.json")

In [40]:
class DataPreparation:
    
    text_column = "text"
    label_column = "intent"

    def __init__(self, train, test, tokenizer: FullTokenizer, classes, max_seq_len=192):
        self.tokenizer = tokenizer
        self.max_seq_len = 0
        self.classes = classes

        ((self.train_x, self.train_y), (self.test_x, self.test_y)) = map(self.prepare_data, [train, test])

        print("max seq_len", self.max_seq_len)
        self.max_seq_len = min(self.max_seq_len, max_seq_len)
        self.train_x, self.test_x = map(self.data_padding, [self.train_x, self.test_x])

    def prepare_data(self, df):
        x, y = [], []

        for _, row in tqdm(df.iterrows()):
            text, label = row[DataPreparation.text_column], row[DataPreparation.label_column]
            tokens = self.tokenizer.tokenize(text)
            tokens = ["[CLS]"] + tokens + ["[SEP]"]
            token_ids = self.tokenizer.convert_tokens_to_ids(tokens)
            self.max_seq_len = max(self.max_seq_len, len(token_ids))
            x.append(token_ids)
            y.append(self.classes.index(label))

        return np.array(x), np.array(y)

    def data_padding(self, ids):
        x = []
        for input_ids in ids:
            input_ids = input_ids[:min(len(input_ids), self.max_seq_len - 2)]
            input_ids = input_ids + [0] * (self.max_seq_len - len(input_ids))
            x.append(np.array(input_ids))
        return np.array(x)

In [46]:
tokenizer = FullTokenizer(vocab_file=os.path.join(bert_ckpt_dir, 'vocab.txt'))

NotFoundError: ignored

In [51]:
def model_defination(max_seq_len, bert_ckpt_file):
    
    with tf.io.gfile.GFile(bert_config_file, "r") as reader:
        bc = StockBertConfig.from_json_string(reader.read())
        bert_params = map_stock_config_to_params(bc)
        bert_params.adapter_size = None
        bert = BertModelLayer.from_params(bert_params, name="bert")
        
    input_ids = keras.layers.Input(shape=(max_seq_len, ), dtype='int32', name="input_ids")
    bert_output = bert(input_ids)

    print("bert shape", bert_output.shape)

    cls_out = keras.layers.Lambda(lambda seq: seq[:, 0, :])(bert_output)
    cls_out = keras.layers.Dropout(0.5)(cls_out)
    logits = keras.layers.Dense(units=768, activation="tanh")(cls_out)
    logits = keras.layers.Dropout(0.5)(logits)
    logits = keras.layers.Dense(units=len(classes), activation="softmax")(logits)

    model = keras.Model(inputs=input_ids, outputs=logits)
    model.build(input_shape=(None, max_seq_len))

    load_stock_weights(bert, bert_ckpt_file)

    return model

In [53]:
classes = train.category.unique().tolist()

data1 = DataPreparation(train, test, tokenizer, classes, max_seq_len=128)

NameError: ignored

In [55]:
data.train_x.shape

AttributeError: ignored